<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="WSHttpBinding_IProjectsManagerService">
                    <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" requireSecurityContextCancellation="false" requireSignatureConfirmation="false" canRenewSecurityContextToken="true">
                        <secureConversationBootstrap defaultAlgorithmSuite="Default" authenticationMode="AnonymousForSslNegotiated" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" requireSignatureConfirmation="false">
                            <localClientSettings detectReplays="true" />
                            <localServiceSettings detectReplays="true" />
                        </secureConversationBootstrap>
                        <localClientSettings detectReplays="true" />
                        <localServiceSettings detectReplays="true" />
                    </security>
                    <textMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://admin.cstechnologies.cz/HostingSystem/ProjectsManagerService.svc" binding="customBinding" bindingConfiguration="WSHttpBinding_IProjectsManagerService" contract="ProjectsManagerService.IProjectsManagerService" name="WSHttpBinding_IProjectsManagerService">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAu6niuo52AwRmEVt/ZEq9U4vt2McgAAAAAQAAAPQBAAAwggHwMIIBWaADAgECAhAo6iXx3UrKiEwYgzN1eT4VMA0GCSqGSIb3DQEBBAUAMBIxEDAOBgNVBAMTB2NlbnRhdXIwHhcNMDgxMjMxMjMwMDAwWhcNNDkxMjMxMjMwMDAwWjASMRAwDgYDVQQDEwdjZW50YXVyMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDX6zReR5NPYR7/xVtyoAwPK5QGkW1upqiyAsWk17BZftEOw0tC+GBQg0cJHTDoXKcblpoDsshJDgHLjol2aGmCTheB7NhaJuFuc1vF2GEd3twz7DKL9fxzA4gm7DSk8GRFBxb06QE5o4wYdXnCTZfqLVnaITdmB3JTblD1Us0EvQIDAQABo0cwRTBDBgNVHQEEPDA6gBDZ/yiHFB/Epff9Req9iPlNoRQwEjEQMA4GA1UEAxMHY2VudGF1coIQKOol8d1KyohMGIMzdXk+FTANBgkqhkiG9w0BAQQFAAOBgQC+C/Eft96WV3QPkgeXcN7CV7kexb316w9Kl6V4pQD+6iE2XKyNOA0gifPUE/VFdNgK+6WByvtPjTgaTRgMtt2W4JnGkU+zz3ixRLM1BYN8wHKFSplWxsJAyrpb6Ca/KH6dBIUbq+/jQMcbcKWMEXwMId3OrFpJmF+66gaE7yL70w==" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>